<form class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
      <div class="flex-auto p-5 lg:p-10">
        <h4 class="text-2xl font-semibold">
          <%= t 'web.form.contact.title' %>
        </h4>
        <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
          <%= t 'web.form.contact.subtitle' %>
        </p>
        <div class="relative w-full mb-3 mt-8">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="full-name">
            <%= t 'web.form.contact.name.label' %>
          </label>
          <input type="text" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="<%= t 'web.form.contact.name.placeholder' %>"/>
        </div>
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="email">
            <%= t 'web.form.contact.email.label' %>
          </label>
          <input type="email" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="<%= t 'web.form.contact.email.placeholder' %>"/>
        </div>
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="message">
            <%= t 'web.form.contact.message.label' %>
          </label>
          <textarea rows="4" cols="80" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="<%= t 'web.form.contact.message.placeholder' %>"></textarea>
        </div>
        <div class="text-center mt-6">
          <button class="btn-dark btn-medium" type="submit">
            <%= t 'web.form.contact.cta.title' %>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
