<nav class="mt-4 absolute z-30 w-full flex flex-wrap items-center justify-between px-2 py-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <input type="checkbox" class="hidden" id="menu-button">
    <div class="w-full relative flex justify-between items-center h-12">
      <a class="relative text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase" href="/">
        <svg
          class="h-12 w-52 absolute top-0 transform -translate-y-2/4"
          aria-label="<%= t 'web.enterprise.name' %>"
          title="Logo <%= t 'web.enterprise.name' %>" >
          <use xlink:href="#logo_white" />
        </svg>
      </a>
      <% if user_signed_in? %>
        <label
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block outline-none focus:outline-none"
        role="button"
        for="menu-button"
        >
          <i class="text-white fas fa-bars"></i>
        </label>
      <% else %>
        <% unless ['sessions', 'registrations', 'passwords'].include? controller_name %>
          <a class="btn-primary btn-small" href="/users/sign_in">
            <i class="fas fa-sign-in-alt"></i>
            <%= t 'web.header.login' %>
          </a>
        <% end %>
      <% end %>
    </div>
    <div
      class="flex-grow items-center bg-white lg:ml-auto lg:mr-4 lg:max-w-xs"
      id="menu-list"
    >
      <ul class="flex flex-col list-none">
        <% if user_signed_in? %>
          <ul class="flex flex-col list-none">
            <li class="flex items-center">
              <a title="<%= t 'web.header.account' %>" class="text-blueGray-700 px-3 py-4 flex items-center text-xs uppercase font-bold" href="/users/edit">
                <i class="text-blueGray-400 fas fa-user-circle text-lg leading-lg "></i>
                <span class="inline-block ml-2">
                  <%= t 'web.header.account' %>
                </span>
              </a>
            </li>
            <li class="flex items-center">
              <a title="<%= t 'web.header.dashboard' %>"
                class="text-blueGray-700 px-3 py-4 flex items-center text-xs uppercase font-bold"
                href="/dashboard">
                <i class="text-blueGray-400 fas fa-chart-line text-lg leading-lg "></i>
                <span class="inline-block ml-2">
                  <%= t 'web.header.dashboard' %>
                </span>
              </a>
            </li>
            <li class="flex items-center">
              <a title="<%= t 'web.header.logout' %>" rel="nofollow" data-method="delete" href="/en/users/sign_out" class="text-blueGray-700 px-3 py-4 flex items-center text-xs uppercase font-bold" >
                <i class="text-blueGray-400 fas fa-sign-out-alt text-lg leading-lg "></i>
                <span class="inline-block ml-2">
                  <%= t 'web.header.logout' %>
                </span>
              </a>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
