<% flash.each_with_index do |content, index| %>
  <%
     type = content[0]
     msg = content[1]

    if type === 'alert'
      bg_color = 'bg-red-500'
    else
      bg_color = 'bg-emerald-400'
    end
  %>
  <input type="checkbox" class="flash-banner hidden" id="flash-banner-<%=index%>">
  <label
    class="flash-banner w-full fixed top-0 z-50 close cursor-pointer flex items-center justify-between w-full p-2 <%= bg_color %> shadow text-white" title="<%= I18n.t('web.close') %>"
    for="flash-banner-<%=index%>">
    <%= msg %>
    <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
    </svg>
  </label>
<% end %>
