<%= simple_form_for(@product, as: :product, method: @method, url: @form_url) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :id %>
  <div class="form-group">
    <%= f.input :name,
                required: true,
                autofocus: true,
                label_html: { class: "form-label label-small" },
                input_html: { class: "form-text"  } %>
  </div>
  <div class="form-group">
    <%= f.input :price_in_diamonds,
                required: true,
                label_html: { class: "form-label label-small" },
                input_html: { class: 'form-text' } %>
  </div>
  <div class="form-group">
    <%= f.input :image,
                required: true,
                autofocus: true,
                label_html: { class: "form-label label-small" },
                input_html: { class: "form-text"  } %>
  </div>
  <div class="form-group">
    <%= f.input :short_description,
                required: true,
                label_html: { class: "form-label label-small" },
                input_html: { class: 'form-text', maxlength: 100 }, as: :text %>
  </div>
  <div class="form-group">
    <%= f.input :description,
                required: true,
                label_html: { class: "form-label label-small" },
                input_html: { class: 'form-text', :rows => 10 }, as: :text %>
  </div>
  <div class="form-group">
    <button name="commit" class="btn btn-medium btn-dark w-full" type="submit">
      <%= I18n.t 'verbs.confirm' %>
    </button>
  </div>
<% end %>
